body {
  background-color: black;
  font-family: Arial Narrow, sans-serif
}

h3 {
  color: #FFE000
}

.button {
  color: black;
  background-color: #FFE000;
  width: 150px;
  height: 50px;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

ul li {
  list-style-type: none;
  color: #FFFFFF;
}

li:hover {
  color: #FFE000;
  cursor: pointer;
}

input {
  border: none;
  background-color: rgb(212, 209, 209);
  height: 50px;
}