body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  color: black;
}

.btn {
  color: white;
  background: black;
  width: 150px;
  height: 50px;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

ul li {
  list-style-type: none;
  color: black;
}

li:hover {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

input {
  border: none;
  background-color: rgb(212, 209, 209);
  height: 50px;
}

.text-color-white {
  color: white;
}
.text-color-black {
  color: black;
}